@model WebApp.Models.ViewModels.AdverticeViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    
    <hr />
    <main>

        <div class="row container-md text-center m-auto">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.PublishDate)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.PublishDate)
                </span>
            </div>

        </div>

        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.AdvertType)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.AdvertType)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.IsActive)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.IsActive)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.UserId)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.UserId)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.Title)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.Title)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.Explaination)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.Explaination)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.Square)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.Square)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.Balcony)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.Balcony)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.Furnished)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.Furnished)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.AddressId)
                </span>
            </div>

            <div class="col-6 border border-dark text-start text-start">
                <span>
                    @Html.DisplayFor(model => model.AddressId)
                </span>
            </div>

        </div>


    </main>

    <hr />
    <hr />

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.AdverticeId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
