@model IEnumerable<WebApp.Models.ViewModels.AdverticeViewModel>

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>



    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">

        @foreach (var item in Model)
        {
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3" style=" display: inline-block;">
                <div class="col">
                    <div class="card h-100 shadow-sm" style=" display: inline-block;">
                        <img src="https://images.pexels.com/photos/262405/pexels-photo-262405.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" style="height:250px;width:250px;" alt="...">
                        <div class="card-body">
                            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill .bg-info text-dark">Available: @item.IsActive</span> <span class="float-end price-hp">1000€</span> </div>
                            <h5 class="card-title">@item.Title</h5>
                            <p class="text-body">@item.Explaination<br />M2: @item.Square</p>
                            
                            <div class="text-center my-4"> @Html.ActionLink("Check offer", "Details", new { id = item.AdverticeId }, new { @class = "btn btn-warning" }) </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
    







    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explaination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Square)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balcony)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Furnished)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Explaination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Square)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balcony)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Furnished)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.AdverticeId  }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</body>
</html>
